<h1>About Us</h1>
<div>
	    <h1>About Us</h1>
		  <p>
			<h2>Our Aim:</h2>
				Welcome to X-change U! X-change U is an online application that you can use to connect to peers at
				your university with the same classes, clubs, interests, and extracurricular activities as you. Arrange
				study groups, review sessions, meetings, events, and more through our comprehensive database
				and find other students with common and complimentary interests and skills. With X-change U, you
				broaden and improve your experience at school by getting matched to other students just like you who
				want to engage in constructive, collaborative activities to get help, get connected, and get involved in
				the X-change! Meet someone to start a new volunteer outreach project youӶe been brainstorming
				all semester but never got around to, or find someone whoӳ working in Chicago next summer in an
				internship, or even organize a final review session for your computer science class. Start your search
				today by entering a few of your favorite classes, things to do, and places to see. YouӬl be surprised what
				you can accomplish on the X-change!

			<h2>Privacy:</h2>
				All users will be made aware of our privacy policy upon being asked to provide personal
				information. The user will be aware of what information is being submitted, who has access to said
				information, and how said information will be used.
				X-change U will not distribute or sell any information collected from users for any purpose
				without the explicit permission of the user. Information will not be shared to any other users of the
				website without the explicit permission of the user. Users are given specific choices to control and
				protect their privacy. Information regarding classes, interests, and activities will not be correlated with
				identifying personal information without the explicit permission of the user, nor will these correlations
				be published without explicit permission of the user.
				Identifying personal information is collected in order to provide a secure environment for
				all X-change interactions to happen within an academic university community. As such, we have a
				commitment to ensuring the security and safety of all students and intend to provide this by ensuring
				that students are interacting with individuals appropriately affiliated with the university in question.
				All users can be confident in knowing that there is a clear distinction made between personally
				identifiable information, including but not limited to full name, age, and affiliated institution, and
				voluntary survey information, including but not limited to classes, courses of study, organizations,
				clubs, and general interests. Users will be informed of what information is accessible and can then
				make informed decisions regarding the control of their information. Information will never be released
				without prior knowledge and permission.
		  </p>
	  </div>
