<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
	  <li><%= link_to "FAQ", faq_path %></li>
      <li><a href="http://courses.cs50.net/">Harvard Courses</a></li>
      <li><a href="http://events.college.harvard.edu/">Harvard Events</a></li>
    </ul>
  </nav>
</footer>
